.DS_Store

# Editing
.idea/
.vscode/
.obsidian/
.prettierrc
.prettierignore
prettier.config.js

# Building & Deploying
.next/
.eslintcache
.env
.vercel
.env.local

# Package management
node_modules/
yarn-error.log
.pnpm-debug.log
yarn.lock
pnpm-lock.yaml
package-lock.json
