img {
    height: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
}

.logo {
    margin-top: 0px;
    margin-right: 8px;
    height: 40px;
    width: 40px;
}

.footnotes::before {
    margin-top: 10rem;
    content: "\A\A__________________";
    white-space: pre;
    /* Use pre to preserve whitespace and line breaks */
    color: #f0f0f0;
}

.image-container {
    display: inline-block;
    /* or block, depending on your layout needs */
    position: relative;
    margin: 1rem 0;
}

.image-caption {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    color: #666;
    margin-top: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* Adjust the gap between images as needed */
}

.video-container {
    position: relative;
    width: 100%;
    min-width: 100px;
    max-width: 500px;
}

.video-ratio {
    width: 100%;
    height: auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}