@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    height: auto;
    width: 100%;
    max-width: 768px;
    display: block;
}

table img {
    max-width: 200px;
    width: 100%;
    height: auto;
    padding: 0;
    display: inline-block;
    margin: auto;
}

.folder-name {
    font-weight: 500;
}

.imageModal {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    overflow: hidden;
    /* Prevent image overflow */
    object-fit: contain;
    object-position: center;
    display: flex;
}

.imageModal img {
    max-width: 100%;
    /* Ensure image fits within modal */
    max-height: 100%;
    /* Ensure image fits within modal */
    object-fit: contain;
    /* Maintain aspect ratio while fitting */
}


.custom-thumbnail {
    margin: 5px;
    padding: 3px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.custom-thumbnail:hover {
    transform: scale(1.09);
}

[role="tab"]:focus,
.subheading-anchor:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.image-gallery-thumbnails .image-gallery-thumbnail {
    width: 100px;
    height: 100px;
}

.image-gallery-thumbnails .image-gallery-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.image-gallery-thumbnail.active {
    background-color: rgba(255, 224, 245, 0.0);
    /* Semi-transparent red background */
    border: 2px solid #BF4F95;
    box-shadow: 0px 0px 2px #BF4F95;
}

.image-gallery-thumbnail:hover {
    border: 2px solid #FFE0F5;
    /* Adjust border width and style as needed */
}

.image-gallery {
    width: 100%;
    /* Take up the full width available, but no more than 768px */
    max-width: 768px;
    /* Restrict the maximum width */
    margin: 0;
    /* Remove any margins */
}

.logo {
    margin-top: 0px;
    margin-right: 4px;
    height: 48px;
    width: 48px;
}

/*@font-face {
    font-family: 'Tofino Variable';
    src: url('https://cloudfront.everycase.org/fonts/TofinoVariable.woff2') format('woff2-variations'),
        url('https://cloudfront.everycase.org/fonts/TofinoVariable.ttf') format("truetype");

    font-weight: 100 800;
    font-stretch: 100% 125%;
    font-style: oblique 0deg 1deg;
    font-display: swap;
}*/

body {
    font-family: var(--font-tofino), 'Tofino Variable', system-ui;
    font-stretch: 101%;
    font-weight: 330;
    font-display: swap;
}

/*@font-face {
    font-family: 'Quicksand';
    src: url('https://cloudfront.everycase.org/fonts/Quicksand.woff2') format('woff2-variations'),
        url('https://cloudfront.everycase.org/fonts/Quicksand-Light.ttf') format("truetype");
    font-display: swap;
}*/


@-moz-document url-prefix() {
    body {
        font-family: system-ui;
        text-rendering: optimizeLegibility;
        font-stretch: 99%;
        font-weight: 340;
    }
}

em,
i,
.italic-class {
    font-variation-settings: 'ital' 0.1 !important;
    margin-left: -1px;
    /* pull the element to the left by 1px otherwise looks a bit weird */
    margin-right: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-stretch: 102%;
}

.no-style-marker+table td:nth-child(3) {
    width: auto;
    /* or your desired reset value */
    text-align: left;
    /* or your desired reset value */
    vertical-align: top;
    /* or your desired reset value */
}

/* kill if I don't plan to use footnotes */
.footnotes::before {
    margin-top: 10rem;
    content: "\A\A__________________";
    white-space: pre;
    /* Use pre to preserve whitespace and line breaks */
    color: #f0f0f0;
}