@tailwind base;
@tailwind components;
@tailwind utilities;

.folder-name {
    font-weight: 500;
}

img {
    height: auto;
    width: 100%;
    max-width: 768px; /* TODO figure out why */
    display: block;
}

[role="tab"]:focus,
.subheading-anchor:focus {
    /* to remove tab highlighting */
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.logo {
    margin-top: 0px;
    margin-right: 4px;
    height: 48px;
    width: 48px;
}

body {
    font-family: var(--font-tofino), "Tofino Variable", system-ui;
    font-stretch: 101%;
    font-weight: 330;
}

@-moz-document url-prefix() {
    body {
        font-family: system-ui;
        text-rendering: optimizeLegibility;
        font-stretch: 99%;
        font-weight: 340;
    }
}

em,
i,
.italic-class {
    font-variation-settings: "ital" 0.1 !important;
    margin-left: -1px;
    /* pull the element to the left by 1px otherwise looks a bit weird */
    margin-right: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-stretch: 102%;
    color: #e3504f !important; /* sRGB color */
}

/* kill if I don't plan to use footnotes */
.footnotes::before {
    margin-top: 10rem;
    content: "\A\A__________________";
    white-space: pre;
    /* Use pre to preserve whitespace and line breaks */
    color: #f0f0f0;
}
