table {
    width: 100%;
    overflow-x: auto;
    display: block;
    /* word-break: break-word; */
    box-sizing: border-box;
}

table,
td,
th {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    word-break: break-word;
    box-sizing: border-box;
}

table img {
    max-width: 200px;
    width: 100%;
    height: auto;
    padding: 0;
    display: inline-block;
    margin: auto;
}