table {
    width: 100%;
    max-width: 600px;
    overflow-x: auto;
    display: block;
    /* word-break: break-word; */
    box-sizing: border-box;
}

table,
td,
th {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    word-break: keep-all;
    box-sizing: border-box;
    max-width: 512px;
}
